body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/*Sub Menu*/
.submenu-gallery {
    padding-right: 30px;
    padding-top: 10px;
    font-size: 12px;
}

    .submenu-gallery img {
    }

    .submenu-gallery > div > div > img {
        max-width: 80%;
    }

/*Carousel*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

/*Elemnts*/
.a-red {
    /*color: red;*/
    color: black;
}

    .a-red:hover, .a-red:focus {
        color: red;
        text-decoration: none;
        /*color: #ffffff;
        text-decoration: none;
        background-color: red;*/
    }

.a-red-li {
    padding-bottom: 5px;
    padding-top: 5px;
}

/*Drop down menu*/
.dropdown-menu > div > div > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: red;
    white-space: nowrap;
}

    .dropdown-menu > div > div > li > a:hover,
    .dropdown-menu > div > div > li > a:focus {
        color: #ffffff;
        text-decoration: none;
        background-color: red;
    }

#box {
    border-color: transparent transparent transparent red;
    border-style: solid;
    border-width: 20px 0 20px 35px;
    height: 0;
    left: -10px;
    margin: 10px;
    position: absolute;
    width: 0;
    background: #FFFFFF;
}



@-moz-document url-prefix() {
    h2 {
        color: red;
    }
}

/*#box {
  border-top: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 100px solid #990000;
  margin: 40px;
}​*/
/******************************************************************/

.img_blog:hover {
    opacity: 0.5;
    filter: alpha(opacity=40);
}

.img_blog {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Notifications*/
.alert {
    margin-top: 10px;
}
