<div class="row">
    <div class="col-md-4 col-sm-12">
        <li id="liItem1">
            @*<a href=@Url.Action("Index", "PalletScaffold") class="a-red" style="padding-bottom: 5px; padding-top: 5px;">
                    Палетни стелажи <span id="span-chevron" class="glyphicon glyphicon-chevron-right pull-right" style="color:white" />
                </a>*@
            @Html.ActionLink("Палетни стелажи", "Index", "PalletScaffold", null, new { @class = "a-red", @style = "padding-bottom: 5px; padding-top: 5px;" })
        </li>
        <li id="liItem2">@Html.ActionLink("Конзолни стелажи", "Index", "ConsoleScaffold", null, new { @class = "a-red", @style = "padding-bottom: 5px; padding-top: 5px;" })</li>
    </div>
    <div class="col-md-8 hidden-sm hidden-xs submenu-gallery">
        <div id="submenu1">
            <div class="row">
                <div class="col-sm-4">
                    <a href="#" class="a-red">
                        <img src="~/Images/SubmenuImages/elctrocar.gif" class="img-responsive" />
                        Some text here Some text hereSome text here Some text hereSome text here
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="a-red">
                        <img src="~/Images/SubmenuImages/elctrocar.gif" class="img-responsive" />
                        Some text here Some text hereSome text here Some text hereSome text here
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="a-red">
                        <img src="~/Images/SubmenuImages/elctrocar.gif" class="img-responsive" />
                        Some text here Some text hereSome text here Some text hereSome text here
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="#" class="a-red">
                        <img src="~/Images/SubmenuImages/elctrocar.gif" class="img-responsive" />
                        Some text here Some text hereSome text here Some text hereSome text here
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="a-red">
                        <img src="~/Images/SubmenuImages/elctrocar.gif" class="img-responsive" />
                        Some text here Some text hereSome text here Some text hereSome text here
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="a-red">
                        <img src="~/Images/SubmenuImages/elctrocar.gif" class="img-responsive" />
                        Some text here Some text hereSome text here Some text hereSome text here
                    </a>
                </div>
            </div>
        </div>
        <div id="submenu2">
            <div class="row">
                <div class="col-sm-4">
                    <a href="#" class="a-red">
                        <img src="~/Images/SubmenuImages/handelectocar.gif" class="img-responsive" />
                        Other Text
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="a-red">
                        <img src="~/Images/SubmenuImages/handelectocar.gif" class="img-responsive" />
                        Other Text
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="a-red">
                        <img src="~/Images/SubmenuImages/handelectocar.gif" class="img-responsive" />
                        Other Text
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="#" class="a-red">
                        <img src="~/Images/SubmenuImages/handelectocar.gif" class="img-responsive" />
                        Other Text
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="a-red">
                        <img src="~/Images/SubmenuImages/handelectocar.gif" class="img-responsive" />
                        Other Text
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="a-red">
                        <img src="~/Images/SubmenuImages/handelectocar.gif" class="img-responsive" />
                        Other Text
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>