@*@model IEnumerable<Project.Web.InputModels.BlogEntryInputModel>*@


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Запитване Палетни Стелажи", "Create", null, new { @class = "btn btn-primary" })
